li:first-child {
background-color: red;
}

li:last-child {
background-color: green ;
}

li:nth-child(5) {
    background-color: black;
    color: white;
}

li:nth-child(even) {
    color: gray;
}

li:nth-child(2) {
    text-decoration: line-through;
}

li:nth-child(4) a:hover {
    color: blue;
}
